<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <if condition='property("USE_LOGSTASH") != null &amp;&amp; property("USE_LOGSTASH").equalsIgnoreCase("true")'>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </then>
        <else>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] [%thread] %-5level %logger{36} - %msg%n
                    </pattern>
                </encoder>
            </appender>
        </else>
    </if>

    <root level="${APP_LOGGING_LEVEL:-INFO}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>